.slider-button{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(180, 178, 178);
}
.label{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    line-height: 35px;
}
.horizontal-slider{
    width: 100%;
    display: flex;
    align-items: center;
}
  .example-track-0{
    background: #e35167;
    width: 100%;
    height: 3px;
}
  
  
.example-thumb{
    color: rgb(255, 255, 255);
    width: 28px;
    height: 28px;
    outline: none;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 6px 0 rgba(112,125,134,0.14);
    text-align: center;
    line-height: 28px;
}