h6{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(180, 178, 178);
}

.title-setting{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(180, 178, 178);   
}