

.container-slider {
   cursor: pointer;
    // margin-top: 2rem;



    .box-slider {
      border-radius: 1rem;
      transition:  all .5s;
      position: relative;
      width: 37rem;
      height: 52rem;
      overflow: hidden;
      &:hover > .btn {
        display: block;
      }
    }
    .slides {
      display: flex;
      height: 100%;
      transition: all 1s;


    }

    .slide {

      img {
        width: 37rem;
        height: 52rem;
        object-fit: cover;
      }
    }

    .container-dot {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: .5rem;
      padding: 0 1rem;
      z-index: 99;

    .btn-dot {
        cursor: pointer;
        border-radius: 2rem;
        padding: .2rem;
        // margin: 0 .5rem;
        background: black;
        opacity: .3;
        transition: all .3s;
      }
      .btn-dot + .btn-dot {
        margin-left: 0.5rem;
      }

      .btn-dot.background {
        background-color: #FFFFFF;
        opacity: 1;
        width: 100%;
      }
    }

    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 1rem;
      font-size: 2.5rem;

      transition: all .3s;
      color: #FFFFFF;
      cursor: pointer;
      // display: none;

    }


    .next {
      right: 0;
    }

}


