.logo-box{
    display: flex;
    padding: 24px 24px 0 24px;
    background: rgb(255, 255, 255);

}

.box-display{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 86px;
    box-shadow: 0 2px 6px 0 rgba(112,125,134,0.14);
    img{
        width: 70%;
    }
}