.candidate-list {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    .container-card {
        margin-top: 2rem;
        position: relative;
        width: 37rem;
        height: 52rem;
        border-radius: 1rem;
        background-color: #f5f7fa;
        box-shadow: 0 0 1.5rem 0 #7a7a7a;
    }

    .card {
        position: absolute;
        transform: translate3d(0, 0, 0);
    }

    .list-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 37rem;

        padding: 0 0.5rem;
        position: absolute;
        bottom: 10rem;
        // left: 50%;
        // transform: translateX(-50%);

        .btn {
            background-color: #ffffff;
            border-radius: 50%;
            transition: all 0.3s;
            box-shadow: 0 2px 6px 0 #e0e0e0;
            cursor: pointer;

            &:nth-child(odd) {
                width: 6rem;
                height: 6rem;
            }

            &:nth-child(even) {
                width: 7rem;
                height: 7rem;
            }
            &:hover {
                transform: scale(1.1);
            }
            &:active {
                transform: scale(0.9);
            }
        }
    }
}
