.row.layout {
    width: 100%;
    display: flex;
    height: 100vh;
    .col.left {
        overflow: hidden;
        min-width: 32.5rem;
        flex-basis: 25%;
        background-color: #FFFFFF;
        border-right: 1px solid #dddddd;
        position: relative;
        z-index: 99;
        display: flex;
        flex-direction: column;
        // display: none;
    }

    .col.right {
        flex-basis: 75%;
        background-color: #F5F7FA;
    }
}