.setting-button{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid rgb(180, 178, 178);
}

.right-side:hover{
    color: #e66c56;
}
.right-side{
    i{
        margin-left: 0.5rem;
    }
}