body {
    margin: 0;
    padding: 0;
}

.header {
    height: 96px;
    background-color: #fff;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.log-out {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.create-account-form {
    margin-top: 10px;
    max-width: 900px;
    width: 100%;
}

.title {
    padding-bottom: 36px;
    padding-top: 36px;
    display: flex;
    justify-content: center;
}

.text-title {
    font-style: italic;
    font-size: 3.2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.input-element {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.container-input {
    margin-right: 56px;
    flex-basis: 50%;
}

.input-wrapper {
    vertical-align: top;
    padding: 0;
    margin-bottom: 30px;
    font-weight: 600;
    border: 0;
}

.label-input {
    margin-top: 10px;
    display: block;
    touch-action: manipulation;
}

.input-text {
    caret-color: #2180e8;
    width: 100%;
    padding-left: 60px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 20px;
    background-color: #f5f7fa;
    border-radius: 8px;
    border-width: 2px;
    border-color: #e8e8e8;
    border-style: solid;
    touch-action: manipulation;
    overflow: visible;    
}

.btn-continue {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-disable {
    hyphens: none;
    z-index: 0;
    white-space: nowrap;
    transition-duration: .2s;
    text-transform: uppercase;
    text-overflow: ellipsis;
    position: relative;
    pointer-events: none;
    padding: 0 24px 0 24px;
    overflow: hidden;
    opacity: .8;
    min-height: 40px;
    max-width: 100%;
    margin: auto;
    letter-spacing: .02em;
    border-radius: 100px;
    background: #e0e4e9;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: .02em;
    color: #fff;
    touch-action: manipulation;
    border: none;
    
}

.err-msg {
    margin: 4px 0 4px 0;
    font-size: 1.2rem;
    display: block;
    color: #ea1010;
}

.button-visible {
    hyphens: none;
    z-index: 0;
    white-space: nowrap;
    transition-duration: .2s;
    text-transform: uppercase;
    text-overflow: ellipsis;
    position: relative;
    pointer-events: none;
    padding: 0 24px 0 24px;
    overflow: hidden;
    opacity: .8;
    min-height: 40px;
    max-width: 100%;
    margin: auto;
    letter-spacing: .02em;
    border-radius: 100px;
    background: #e0e4e9;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: .02em;
    color: #fff;
    touch-action: manipulation;
    border: none;
    background-color: #ff7854;
    cursor: pointer;
}